<mat-divider></mat-divider>
<mat-card *ngIf="!isLoading">
  <mat-form-field class="full-width">
    <input matInput type="text" name="image" placeholder="Image URL" #newImageUrl>
    <mat-icon matSuffix (click)="addNewImage(newImageUrl.value); newImageUrl.value = null">add</mat-icon>
  </mat-form-field>
</mat-card>
<div *ngIf="isLoading" class="spinner-div">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngFor="let image of images | async">
  <img mat-card-image [src]="image.url">
  <mat-card-actions>
    <button mat-fab color="" (click)="deleteImage(image.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>