<mat-card>
  <mat-form-field class="full-width">
    <input matInput type="text" name="name" placeholder="Issue Name" [ngModel]="(issue | async)?.name" 
    (ngModelChange)="issueService.update(issueId, {name: $event})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [ngModel]="(issue | async)?.description" 
    (ngModelChange)="issueService.update(issueId, {description: $event})"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Notes" [ngModel]="(issue | async)?.notes" 
    (ngModelChange)="issueService.update(issueId, {notes: $event})"></textarea>
  </mat-form-field>
</mat-card>

<app-images [id]="issueId"></app-images>