<mat-card>
  <mat-progress-bar *ngIf="isRoomListLoading || imagesLIS.isImageListLoading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field class="full-width">
    <input matInput type="text" name="name" placeholder="Property Name" [ngModel]="(property | async)?.name"
      (ngModelChange)="propertyService.update(propertyId, {name: $event})">
  </mat-form-field>
  <mat-list>
    <h3 mat-subheader>Rooms</h3>
    <mat-list-item *ngFor="let room of rooms | async" routerLink="/room/{{propertyId}}/{{room.id}}">
      {{ room.name }}
    </mat-list-item>
  </mat-list>
  <button mat-fab>
    <mat-icon aria-label="Add" (click)="addNewRoom()">add</mat-icon>
  </button>
</mat-card>

<app-images [id]="propertyId" (imagesLoaded)="imagesLIS.onImagesLoaded($event)"></app-images>